.tbl-banner-img{
    height: 75px;
}
div.invalid-feedback{
    color: red;
}
.flex-caption {
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
}

.pt-1{
    padding-top: 1px;
}

.pt-2{
    padding-top: 2px;
}

.pt-3{
    padding-top: 3px;
}

.pt-4{
    padding-top: 4px;
}

.pt-5{
    padding-top: 5px;
}

.pt-6{
    padding-top: 6px;
}

.pt-7{
    padding-top: 7px;
}

.pt-8{
    padding-top: 8px;
}


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.form-check-input[type="checkbox"]:not(.filled-in)+label:after,
label.btn input[type="checkbox"]:not(.filled-in)+label:after {
    border: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.form-check-input[type="checkbox"]:checked+label:before,
label.btn input[type="checkbox"]:checked+label:before {
    width: 14px;
    height: 2.375rem;
    border-top: 2px solid transparent;
    border-right: 2px solid #4285f4;
    border-bottom: 2px solid #4285f4;
    border-left: 2px solid transparent;
    -webkit-transform: rotate(34deg);
    transform: rotate(34deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-left: -5px;
    margin-top: -12px;
}

.form-check-input[type="checkbox"]+label:before,
.form-check-input[type="checkbox"]:not(.filled-in)+label:after,
label.btn input[type="checkbox"]+label:before,
label.btn input[type="checkbox"]:not(.filled-in)+label:after {
    position: absolute;
    z-index: 0;
    width: 18px;
    height: 18px;
    margin-top: -3px;
    content: "";
    border: 2px solid #8a8a8a;
    border-radius: 1px;
    -webkit-transition: .2s;
    transition: .2s;
}

td.center
{
    text-align: center;
    vertical-align: middle;
}

.fa-angle-up,
.fa-angle-down{
    cursor: pointer;
}

.filter{
    float:right;
    height: 15px;
}

.filter>i{
    margin-top: -4px ;
}

.name-col{
    width:15%;
}

.desc-col{
    width:50%;
}

.d-none {
    display: none;
}